page-selecionar-categoria {
    .alerta{
        display: block;
        width: 100%;
        height: 100px;
        background-color: gold;
        font-weight: bold;
    }
    .evento{
        display: block;
        width: 100%;
        height: 100px;
        background-color: darkslateblue;
        font-weight: bold;
    }
    .social{
        display: block;
        width: 100%;
        height: 100px;
        background-color: seagreen;
        font-weight: bold;
    }
}
