page-feed {
    ion-content{
        background-image: url('../assets/img/bg-madeira2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        width: 100%;

        ion-slides{
            height: auto;
        }
    }

    .content-ios{
        background-color: transparent;
    }

    .categoria{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
