page-welcome {
    h1{
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .logo{
        width: 100%;
        text-align: center;

        img{
            max-width: 300px;
        }
    }

    .esqueceu{
        text-align: center;
    }
}
